
body{
  margin: 0;
  background-color: #111;
  background-size: cover;
  background-attachment: fixed;
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}


h1{
    color: white;
    letter-spacing: 5px;
    font-weight: bold; 
}


h2{
    padding: 35px 5px 15px;
    font-weight: bold;
    color: yellow;
    border-bottom: 2px solid yellow;
    display: inline-block;
}

h3{
    margin-bottom: 10px;
    color: yellow;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}



p{
    text-indent: 25px;
    text-align: justify;
    line-height: 1.6;
}

ul{
    margin-left: 40px;
}

li{
    margin-bottom: 5px;
}


.navbar{
    border-bottom: 2px solid yellow;
}

.nav-link{
    transition: 0.3s;
    font-size: 40px;
}

.nav-link:hover{
    color: #ff3c3c !important;
    letter-spacing: 1px;
}


blockquote{
    font-style: italic;
    border-left: 4px solid yellow;
    padding-left: 15px;
    margin-top: 30px;
    color: #ddd;
}


footer{
    background-color: black;
    border-top: 2px solid yellow;
    padding: 10px;
}


html{
    scroll-behavior: smooth;
}

.logo{
    width: 20vh;
    height: auto;
}




.carousel{
    background-color: black;
}

.carousel img{
    width: 100%;
    height: 70vh;
    object-fit: cover;  
}



.supercell_company-img{
    display:block;
    margin:auto;
    max-width:700px;
    width:100%;
    border-radius:20px;
}
.profile{
    width:120px;
    height:120px;
    object-fit:cover;
}

@media (max-width:768px){

    .profile{
        width:90px;
        height:90px;
    }

    .card-body{
        padding:1.2rem;
    }

    h1{
        font-size:1.6rem;
    }

.carousel-inner img{
        height:35vh;
        object-fit:cover;
    }

}

.kartya {
max-width: 100%;
height: auto;
text-align: center;
border-radius: 10px 10px 10px 10px ;
background-color: #1f1e1e;

}

.kartya-kep {
width: 120px;
width: 120px;
height: auto;
display: block;
margin: 10px auto;
object-fit: contain;
border-radius: 15px 15px 15px 15px;
}

.quizh3 {
    color: white;
}

.quizcontainer {
    border: 3px solid yellow;
    max-width: 1300px; width: 100%;
}

#nextBtn {
background-color: #ba112a;
border: 1px solid black;
}

#nextBtn:hover {
    border: 1px solid black;
    background-color: #3bc42b;
}

#question {
    color: white;
    text-transform: none;
}

.form-check-label {
    color: white;
}

.form-check-label:hover {
    background-color: #59363b;
}

.form-check-input:hover + .form-check-label {
    background-color: #59363b;
    border-radius: 5px;
}
#result h3,
#result p {
    color: white;
}

.page-wrap{
  width: 90%;
  margin: 0 auto;
}



